{{ define "main" }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

<div class="photo-gallery">
  {{- range .Pages }}
  <div class="photo-item">
    <a href="{{ .Permalink }}">
      {{- $image := "" -}}
      {{- if .Params.cover.image -}}
        {{- $image = .Params.cover.image -}}
      {{- else -}}
        {{- $images := findRE "<img src=\"([^\"]+)\"" .Content -}}
        {{- if gt (len $images) 0 -}}
          {{- $image = (index $images 0 | replaceRE "<img src=\"([^\"]+)\"" "$1") -}}
        {{- end -}}
      {{- end -}}
      
      {{- if $image -}}
      <img src="{{ $image | absURL }}" alt="{{ .Title }}" loading="lazy">
      <div class="photo-title-overlay">
        <span>{{ .Title }}</span>
      </div>
      {{- else -}}
      <div class="no-photo-placeholder">
          <span>{{ .Title }}</span>
      </div>
      {{- end -}}
    </a>
  </div>
  {{- end }}
</div>
{{ end }}
